# Python virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Project-specific
cache/
